.wrapper {
  padding: 10px;
}
.cage {
  border: 2px solid #333;
  border-radius: 240px 100px 100px 150px / 15px 200px 15px 85px;
  padding: 10px;
  width: 260px;
  height: 300px;
  margin: 10px;
}
.svg-class {
  width: 80px;
  margin: 5px;
}

.animal-info {
  border: 2px solid #333;
  padding: 5px;
  width: 260px;
  margin: 5px;
}

.animal-info dl {
  display: flex;
  flex-wrap: wrap;
}
.animal-info dt {
  width: 35%;
  padding: 5px;
  background-color: #DADADA;
  margin: 0 0 5px 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animal-info dd {
  width: 65%;
  padding: 5px;
  background-color: #F3F3F3;
  margin: 0 0 5px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.action-form {
  border: 2px solid #333;
  padding: 5px;
  width: 260px;
  margin: 5px;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
